header{
    margin-top: 0px; 
    background-color: #ddd;
}
header .row h5{
    color:#565acf;
    font-size: 20px;
    margin: 10px 0;

}
header h2{
    color: var(--main-color);
    font-size: 50px;
    margin:30px 0  ;
    font-size: bolder;
    letter-spacing: 1px;
    word-spacing: 5px;
}
header img{
    max-width: 100%;  
    height: auto;
    animation: mover 1s infinite alternate;
}
header .headreBtn ,
.SerBtn{
    background-color: var(--secondary-color) !important ;
    width: 200px;
    height: 60px;
    border: 1px solid var(--secondary-color) !important ;
    border-radius: 10px !important;
    margin-top: 20px;
    float: left;
    transition: .2s ease;
}
 

.SerBtn{
    width: 10rem;
}
header .headreBtn a , .SerBtn a{
    color: #ffff !important;
    font-size: 20px;
    transition: .2s ease;
}

header .headreBtn:hover a,
.SerBtn:hover a{
    color: #fff !important;
}
 
header .headreBtn:hover,
.SerBtn:hover{
    opacity: .9 !important; 
    background-color: var(--secondary-color) ; 
    border: 1px solid var(--secondary-color);


}


 .square{
    float: right;
    animation: moversql 8s infinite alternate-reverse;
}


@keyframes moversql {
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

@keyframes mover {
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

header .header-box{
    position: relative;
    max-width: 100%;
    height: auto;
}

.work-num-bx {
    -webkit-text-stroke: 2px #f17732;
    color: transparent;
    font-size: 80px;
    font-weight: 900;
    line-height: 80px;
    margin-bottom: 30px;
    text-shadow: 0 10px 0 #ffe3d3;
    transition: all .5s;
}
.work-content ,.work-content2 h4{
    font-size: 20px;
    color: #f17732;
    font-weight: bold;
}

.work-content2 h4{
    color: #fff;
} 

.work-content p{
    font-size: 16px;
    line-height: 20px;
    color:#5e5e5e;
    font-weight: normal;
}
.work-content2 p{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
}


.work-card,.work-card2{
    position: relative;
    margin: 0 auto;
    width: 20rem !important;
    height: 23rem;
    border-radius: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.work-card2{
    background-color: #f17732;
}



.work-card::before {
    background:  #f17732;
    content: "";
    inset: 0; 
      width: 20rem !important;
    height: 23rem;
    border-radius: 3rem;
    position: absolute;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    z-index: -1;

  }
  
  .work-card:hover::before {
 
    transform: scaleY(1);
    transform-origin: bottom;
  }

  .work-card:hover p,
.work-card:hover h4 {
  color: white;
}


.workBtn,.workBtn2{
    background-color: #e1e2f6 !important;
    border: 1px solid  #e1e2f6 !important;
    color: #6b6fd5 !important;
    font-size: 18px !important;
    width: 170px;
    height: 50px;
    margin-top: -10px;
    border-radius: 15px;
    transition: all .5s;
}

.workBtn2{
    background-color:white!important;
    border:1px solid white !important;
    color: #f17732 !important;
}

.work-card:hover .workBtn{
    background-color:white!important;
    border:1px solid white !important;
    color: #f17732 !important;
}
.book{
    position: relative;
    width: 90rem;
    background: url("../../assets/bg-booking.png");
    background-size: cover;
    border-radius: 20px;
    background-color: #f5f5fc;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.mo-anim{
    position: absolute;
    left: 0;
    bottom: 20px;
    top: 100px;
    animation: mover 1s infinite alternate;

}
.book .woman{
    position: absolute;
    right: 19px;
    bottom: 66px;
    width: 20rem;
    height: 33rem;
    animation: moverWoman .8s infinite alternate;
    

}

@keyframes moverWoman {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-15px);
    }
}


@media only screen and (max-width: 575px) {
  
  
    .service-row{
        position: absolute !important;
        right: -7rem !important;
    
    }
    .book .woman{
        position: absolute;
        top: 60rem !important;
        left: 11rem !important;
        width: 12rem !important;
        height: 17rem !important;
    }
    
     
}

@media only screen and (max-width: 975px) {
  .book .mob{
    margin-top: 13rem !important;
  }
 
.service-row{
    position: absolute;
    right: -5rem;
    top: 7rem;
    width: 52rem !important;


}

    .book .woman{
width: 15rem !important;
height: 15rem;
top: 18rem;
    }
     
}

.service-content h5{
    color: var(--secondary-color) ;
    font-weight: bold;
}
.service-content h1{
    color: #1f2278;
    font-weight: 700;
    line-height: 55px;

}
.service-content p{
    color: #6a6a6a;
    line-height: 25px;
    max-width: 28rem !important;
}
.caro-bg{
    position: relative;
    background-color: #565acf !important;
    border-radius: 20px !important;
    width: 48rem !important;
    height: 35rem !important;

}
.service-row{
    position: absolute;
    right: -5rem;
    top: 7rem;


}