footer .img-logo{
    width: auto;
    height: 40px;
    margin: 15px 0px;
}
footer .footer-contact{
    display: flex;
}

footer .footer-contact .footer-icon{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    color: white;
    line-height: 40px;
    box-sizing: border-box;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

footer .footer-contact .footer-iconv svg{
    text-align: center;
}

footer .footer-contact h6{
    color: var(--secondary-color);
    font-size: 16px;
}

footer .footer-contact h4{
    color: var(--main-color);
    font-size: 18px;
    margin-top: 10px;
}

footer h2{
    color: var(--main-color);
    font-size: 30px;
    margin: 15px 0px;
}

footer ul{
    margin-top: 20px;
}

footer ul li{
    margin-top: 14px;
}

footer ul li a{
    color: #333;
    font-size: 16px;
    letter-spacing: 1px;
}

footer form{
    margin: 15px 0px;
}

footer form input{
    border: 1px solid #CCC;
    margin: 10px 0px;
    width: 100%;
}


footer form button{
    width: 11rem;
    background-color: var(--secondary-color) !important;
    border: 1px solid var(--secondary-color) !important;
    color: #fff;
}
.social{
    display: flex;
    float: left;
}
